@charset "UTF-8";

html, body{
    min-height: 100vh;
    background-color: grey;
}

*{
    padding: 0px;
    margin: 0px;
}




header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;

}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}
section.img{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    
}
section.img > p{
    background-color: rgba(0, 0, 0, 0.226);
    display: inline-block;
    padding: 10px;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}