@charset "UTF-8";

@media screen and (max-width:650px) {


header >h1{
    text-align: center;
    
}

header{
    display: flex;
    flex-flow: column;
}

header > nav{
    display: flex;
    flex-flow: column;

}

header > nav> a{
    text-align: center;
}


}
